.navbar {
  background:rgba(255, 255, 255, 0.95);
}

html {
  position: relative;
  min-height: 100%; /* Needed for sticky footer */
}

body.gallery {
  margin-bottom: 150px !important;
}

.content-container {
  margin-top: 80px;
}

.logo {
  width:65px;
  cursor: pointer;
}

.menu-separator {
  height:40px;
}

.social-icons {
  height:18px;
  background-size:cover;
  transition: background-image 0.2s ease-out;
}

.icon-facebook {
  width: 10px;
  background-image:url("../media/facebook-icon.svg");
}

.icon-facebook:hover {
  background-image:url("../media/facebook-icon-hover.svg");
}

.icon-insta {
  width: 17px;
  background-image:url("../media/instagram-icon.svg");
}

.icon-insta:hover {
  background-image:url("../media/instagram-icon-hover.svg");
}

.icon-tumblr {
  width: 11px;
  background-image:url("../media/tumblr-icon.svg");
}

.icon-tumblr:hover {
  background-image:url("../media/tumblr-icon-hover.svg");
}

.card-img-overlay {
  background-color:rgba(14, 14, 14, 0.75);
  opacity: 0;
  cursor:pointer;
  transition: opacity 0.2s ease-out;
}

.card-img-overlay:hover {
  opacity: 1;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 120px; /* Set the fixed height of the footer here */
  background-color: #212121;
  color: #ffffff;
}

.footer .row {
  height: 100%;
}

.headroom-wrapper {
  height: 56px !important;
}

.gallery-backdrop.modal-backdrop {
    opacity: 1 !important;
    background-color: #fff !important;
}

.abcRioButton {
  width: 100% !important;
}

.screen-height {
  height: 100vh;
}

.modal-content {
  border: 0px;
}

.loader-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: "rgb(255, 255, 255)";
}

p.about-me {
  line-height: 2;
}
.about-me-social-container {
  margin-top: 80px;
}
